<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <atlasFormatSpecificSettings>
        <garminCustomMaxMapCount>100</garminCustomMaxMapCount>
    </atlasFormatSpecificSettings>
    <bandwidthLimit>0</bandwidthLimit>
    <coordinateNumberFormat>DEG_LOCAL</coordinateNumberFormat>
    <customProxyHost></customProxyHost>
    <customProxyPassword></customProxyPassword>
    <customProxyPort></customProxyPort>
    <customProxyUserName></customProxyUserName>
    <customTileSize>false</customTileSize>
    <devMode>false</devMode>
    <directories/>
    <downloadRetryCount>1</downloadRetryCount>
    <downloadThreadCount>2</downloadThreadCount>
    <elementName>Layer</elementName>
    <googleLanguage>en</googleLanguage>
    <gpxFileChooserDir></gpxFileChooserDir>
    <httpAccept>text/html, image/png, image/jpeg, image/gif, */*; q=0.1</httpAccept>
    <httpConnectionTimeout>10</httpConnectionTimeout>
    <httpReadTimeout>10</httpReadTimeout>
    <ignoreDlErrors>false</ignoreDlErrors>
    <localeCountry></localeCountry>
    <localeLanguage>en</localeLanguage>
    <mainWindow>
        <size>800/590</size>
        <position>102/302</position>
        <maximized>true</maximized>
        <rightPanelVisible>true</rightPanelVisible>
        <leftPanelVisible>true</leftPanelVisible>
        <leftPanelWidth>254</leftPanelWidth>
        <collapsedPanels>
            <collapsedPanel>Coordinates</collapsedPanel>
        </collapsedPanels>
    </mainWindow>
    <mapOverlapTiles>0</mapOverlapTiles>
    <mapSourcesDisabled/>
    <mapSourcesEnabled/>
    <MapSourcesUpdate/>
    <mapviewCenterCoordinate lat="85.05035681798252" lon="178.22210311889648"/>
    <mapviewGridZoom>-1</mapviewGridZoom>
    <mapviewMapSource>OSMPublicTransport</mapviewMapSource>
    <mapviewSelectionMax>1068475072/0</mapviewSelectionMax>
    <mapviewSelectionMin>1068475008/0</mapviewSelectionMin>
    <mapviewZoom>16</mapviewZoom>
    <maxMapSize>65536</maxMapSize>
    <osmHikingTicket></osmHikingTicket>
    <paperAtlas>
        <compression>6</compression>
        <crop>15</crop>
        <dpi>96</dpi>
        <marginBottom>22.6</marginBottom>
        <marginLeft>22.6</marginLeft>
        <marginRight>22.6</marginRight>
        <marginTop>22.6</marginTop>
        <overlap>28.2</overlap>
        <compass>true</compass>
        <pageNumbers>true</pageNumbers>
        <scaleBar>true</scaleBar>
        <wgsEnabled>true</wgsEnabled>
        <paperSize>A4</paperSize>
        <wgsDensity>SECOND_1</wgsDensity>
    </paperAtlas>
    <placeBookmarks/>
    <proxyType>CUSTOM</proxyType>
    <selectedZoomLevels>
        <zoomLevel>15</zoomLevel>
    </selectedZoomLevels>
    <tileDefaultExpirationTime>2419200000</tileDefaultExpirationTime>
    <tileImageFormat>PNG</tileImageFormat>
    <tileMaxExpirationTime>31536000000</tileMaxExpirationTime>
    <tileMinExpirationTime>432000000</tileMinExpirationTime>
    <tileSize>256/256</tileSize>
    <tileStoreEnabled>true</tileStoreEnabled>
    <unitSystem>Metric</unitSystem>
    <userAgent>MOBAC/2.0.0_beta_1</userAgent>
    <version>2.0.0 beta 1</version>
    <wgsGrid>
        <color>#0000ff</color>
        <compressLabels>false</compressLabels>
        <density>SECOND_1</density>
        <enabled>false</enabled>
        <font>SansSerif-PLAIN-12</font>
        <width>1.0</width>
    </wgsGrid>
</settings>
